@charset "UTF-8";
.mycafe_tab {
    display: table;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}

.mycafe_tab a.on {	
    position: relative;
    border-color: #03c75a;
    background-color: #03c75a;
    color: #fff;
}

.mycafe_tab a:first-child {
    border-left: solid 1px #e1e1e1;
}

.mycafe_tab a {
    display: table-cell;
    width: 20%;
    height: 46px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #e1e1e1;
    border-left: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
    text-decoration: none;
    line-height: 46px;
}

.mycafe_tab a.on:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 48px;
    background-color: #03c75a;
}

.mycafe_top {
    position: relative;
    height: 30px;
    margin-bottom: 8px;
}

.mycafe_top .common_select {
    display: inline-block;
    position: relative;
    top: auto;
    vertical-align: top;
}

.mycafe_top .common_select .btn_select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.mycafe_manage .mycafe_group {
    border-top: 1px solid #666;
}

.mycafe_group .group {
    clear: both;
    height: 32px;
    padding: 0 0 0 16px;
    background-color: #f1f1f1;
    font-size: 13px;
}

.mycafe_group .group .group_name {
    display: inline-block;
    line-height: 33px;
    vertical-align: top;
}

.mycafe_group .group .num {
    padding-left: 4px;
    color: #ff4947;
}

.mycafe_list {
    width: 100%;
    border-collapse: collapse;
    color: #222;
}

.mycafe_list tr:first-of-type td {
    border-top: 0;
}

.mycafe_list td.bookmark {
    padding: 15px 0 0 16px;
    vertical-align: top;
}

.mycafe_list tbody td {
    position: relative;
    padding: 11px 0;
    border-top: 1px solid #f2f2f2;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

.mycafe_list .bookmark_cafe {
    background-position: -296px -52px;
    width: 16px;
    height: 16px;
}

.mycafe_list td.bookmark + td.cafe_info {
    padding-left: 0;
}

.mycafe_list td.cafe_info {
    padding-right: 10px;
    padding-left: 8px;
}

.mycafe_list .cafe_name {
    font-size: 16px;
}

.mycafe_list td.mail_set {
    color: #999;
    text-align: center;
}

.mycafe_list .btn_mail.on {
    border: 0;
    background-color: #03c75a;
    color: #fff;
}

.mycafe_list .btn_mail {
    width: 40px;
    height: 24px;
    margin-left: 5px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    border: solid 1px #e5e5e5;
    font-size: 12px;
    line-height: 22px;
    color: #222;
    font-family: arial, sans-serif;
}

.mycafe_list .btns {
    text-align: center;
}

.mycafe_list .btn_set {
    min-width: 40px;
    height: 24px;
    padding: 0 6px;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    font-size: 12px;
    white-space: nowrap;
}

a {
    color: #5e5e5e;
    text-decoration: none;
}

.mycafe_list .user {
    padding-top: 6px;
    color: #999;
}

.mycafe_list .bookmark_cafe[aria-pressed="true"] {
    background-position: -296px -28px;
    width: 16px;
    height: 16px;
}

.common_select .layer {
    margin-top: -1px;
    border: 1px solid #ddd;
}

.mycafe_list tr:last-of-type td {
    border-bottom: 1px solid #f2f2f2;
}

.mycafe_list tr:first-of-type td {
    border-top: 0;
}

.mycafe_list td.ranking {
    padding-left: 14px;
}

.mycafe_list td.member {
    text-align: center;
}


.mycafe_list .member_no {
    font-size: 13px;
    color: #999;
}

.mycafe_list .member_no:before {
    content: '';
    background-position: -296px -172px;
    width: 16px;
    height: 14px;
    vertical-align: middle;
}

.mycafe_list .name:before, .mycafe_list .my_article:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 0 6px 0 3px;
    background-color: #999;
    vertical-align: 4px;
}

.mycafe_list .my_article:after {
    content: '';
    margin: 0 0 0 3px;
    background-position: -279px -257px;
    width: 6px;
    height: 10px;
    vertical-align: baseline;
}	

.mycafe_bottom {
    position: relative;
    margin-top: 8px;
}

.mycafe_bottom .check_box {
    margin: 7px 0 0 4px;
}

.mycafe_bottom .common_btn_form.fr {
    float: right;
}

.check_box input {
    -webkit-appearance: none;
    float: left;
    width: 0;
    opacity: 0;
}

.mycafe_bottom .check_box label {
    font-size: 13px;
    color: #222;
}

.check_box label {
    background-color: #fff;
    color: #000;
    line-height: 15px;
    vertical-align: top !important;
}

.mycafe_bottom .check_box label:before {
    margin-right: 8px;
}

.common_btn_form .btn2 {
    display: inline-block;
    height: 30px;
    padding: 0 16px;
    border: 1px solid #d3d3d3;
    line-height: 28px;
    background: #fff;
    font-size: 13px;
    vertical-align: top;
    color: #222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mycafe_manage + .common_page {
    margin-top: 50px;
}

.common_btn_form {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.check_box {
    display: inline-block;
}

.mycafe_manage .secede_cafe_title {
    padding: 8px 0;
    border-bottom: 1px solid #d8d8d8;
    font-size: 16px;
}

.mycafe_manage .secede_cafe_title .tit {
    display: inline-block;
    margin-top: 6px;
    font-size: 16px;
    color: #222;
}

.mycafe_manage .secede_cafe_title:after {
    content: '';
    display: block;
    clear: both;
}

.mycafe_manage .manage_article {
    padding: 32px 0 7px;
}

.mycafe_manage .manage_article .tit {
    font-size: 13px;
    color: #222;
}

.mycafe_manage .manage_article .my_article {
    display: inline-block;
    float: right;
}

.mycafe_manage .manage_article a.on {
    color: #03c75a;
    font-weight: bold;
}

.mycafe_manage .manage_article a {
    display: inline-block;
    font-size: 13px;
    color: #222;
}

.mycafe_manage .manage_article a:last-of-type:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 8px 0 6px;
    background-color: #e1e1e1;
    vertical-align: -2px;
}

.common_btn_form.fr {
    float: right;
}

.mycafe_list.type2 td.check, .mycafe_list.type2 td.view, .mycafe_list.type2 td.date {
    vertical-align: top;
}

.mycafe_list.type2 tbody td.tit {
    padding-left: 8px;
}

.mycafe_list .check_box {
    vertical-align: middle;
}

.check_box.only_box label:before {
    margin: 0;
}

.mycafe_list tr:last-of-type td {
    border-bottom: 1px solid #f2f2f2;
}

.mycafe_list.type2 tbody td {
    padding: 10px 0 9px;
}

.mycafe_list tr:first-of-type td {
    border-top: 0;
}

.mycafe_list td.check {
    text-align: center;
    vertical-align: middle;
}

.mycafe_list .date {
    font-size: 13px;
    color: #999;
    text-align: center;
}


.check_box input + label:before {
    content: '';
    margin-right: 5px;
    background-position: -255px -257px;
    width: 16px;
    height: 16px;
}

.check_box input:checked + label:before {
    background-position: -296px -4px;
    width: 16px;
    height: 16px;
}
