@charset "UTF-8";

a {
	text-decoration: none;
}

fieldset {
	border: 0;
}

body {
	font-size: 12px;
	font-family: Dotum, '돋움', Helvetica, "Apple SD Gothic Neo", sans-serif;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input,
	legend, li, ol, p, select, table, td, textarea, th, ul {
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

address, em {
	font-style: normal;
}

.wrap {
	position: relative;
	overflow: hidden;
	min-width: 1100px;
	background: #f2f4f7;
}

.login_padding .ico_local_login {
	background-image: url('/img/index/sp_login.png');
	background-repeat: no-repeat;
}

.search .ico_search_submit, .area_logo .naver_logo {
	background-image: url('/img/index/sp_search.svg');
	background-repeat: no-repeat;
}

.area_links .al_happybean .al_ico, .area_links .al_jr .al_ico,
	.area_whale .aw_qr, .area_flower .af_qr, .area_service .as_ico_all {
	background-image: url('/img/index/sp_main.png');
	background-repeat: no-repeat;
}

.snb_area .snb_inner h1, .srch_container .icon_manager, .srch_container .icon_dormancy, .srch_container .icon-powercafe, .srch_container .icon-official, .srch_container .icon-wiu, .srch_container .icon-star, .srch_container .icon-star-txt, .common_icon_box .icon_manager, .common_icon_box .icon_dormancy, .common_icon_box .icon-powercafe, .common_icon_box .icon-official, .common_icon_box .icon-wiu, .common_icon_box .icon-star, .common_icon_box .icon-star-txt, .common_title .btn_title_more:after, .common_btn_side .btn_side_prev, .common_btn_side .btn_side_prev:disabled, .common_btn_side .btn_side_next, .common_btn_side .btn_side_next:disabled, .common_btn_form button.add:before, .check_box input + label:before, .check_box input:checked + label:before, .common_scroll_box .btn.btn_scroll_prev:before, .common_scroll_box .btn.btn_scroll_next:before, .common_list .list_info .level.up:before, .common_list .list_info .level.down:before, .common_page .btn_page_prev:before, .common_page .btn_page_next:after, .common_category .btn_category:after, .common_select .btn_select:after, .common_notice_layer .icon_notice, .aside .user_info .user_count .storage:before, .aside .user_info .user_count .note:before, .aside .login .login_btn:before, .aside .cafe_make .btn_cafe_make:before, .aside .cafe_link .link_game:after, .aside .cafe_link .link_pan:after, .aside .cafe_link .link_wiu:after, .aside .smart_bot a:before, .aside .notice .notice_more:after, .aside .link_more .link_cafe:before, .aside .link_more .link_report:before, .home_editors_title .btn_editors_more:after, .home_user .btn_mycafe_more:after, .home_user_mycafe .btn_mycafe_edit:before, .user_mycafe_box .btn_mycafe_user:after, .user_mycafe_info .user_mycafe_bookmark, .user_mycafe_info .user_mycafe_bookmark.on, .user_mycafe_info .user_mycafe_new:before, .user_feed_info .movie_img .icon_video, .ranking_list .cafe_thumb:after, .ranking_list .cell_level .level.up:before, .ranking_list .cell_level .level.down:before, .pop_ranking .info_list .icon.writing:before, .pop_ranking .info_list .icon.search:before, .pop_ranking .info_list .icon.member:before, .pop_ranking .info_list .icon.app:before, .mycafe_group .group .group_open .btn_open, .mycafe_group .group .group_open .btn_close, .mycafe_list tr.drag .drag_tip:before, .mycafe_list .member_no:before, .mycafe_list .my_article:after, .mycafe_list .view_text:before, .mycafe_list .bookmark_cafe, .mycafe_list .bookmark_cafe[aria-pressed="true"], .mycafe_manage .noti:before, .mycafe_manage .btn_all.close:after, .mycafe_manage .btn_all.open:after, .mycafe_btns .btn_reset:before {
	display: inline-block;
	background-image: url('/img/cafe/sp_cafe1.svg'), none;
	background-repeat: no-repeat;
	vertical-align: top;
}

.snb_search_box .ico_search, .snb_search_box .search_option a .ic_down, .snb_search_box .search_option a .ic_up, .snb_search_box .btn_arrow span, .terms_option_box .terms_option .ic_down {
    background: url('/img/cafe/sp_cafe2.png') no-repeat;
}

.snb_search_box .ico_search, .snb_search_box .search_option a .ic_down, .snb_search_box .search_option a .ic_up, .snb_search_box .btn_arrow span, .terms_option_box .terms_option .ic_down {
    background: url('/img/cafe/sp_cafe3.png') no-repeat;
}

.sign_banner .bill_img_pc {
	display: block;
	margin: 0 auto;
	max-width: 460px;
	height: 166px;
	background:
		url(' /img/banner/pc_banner_tax.png')
		no-repeat 0 0;
	-webkit-background-size: contain;
	background-size: contain;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

.wa_blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    font-size: 0;
}

.sign_banner, .whale_set_banner {
	display: block;
	margin: 47px 0 15px;
}

.green {
    color: #08a600!important;
}

.yellow {
    color: #C3C300!important;
}

.loading_wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #ffffff;
    opacity: 0.5;
}

.loader_img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-60px;
	margin-left: -60px;
	border-top: 16px solid blue;
	border-right: 16px solid green;
	border-bottom: 16px solid red;
	border-left: 16px solid pink;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pageList {
	margin: 0 auto;
}

.page {
	padding: 3px;	
}

.bold {
	font-weight: bold;
}

.click-focus-false {
	pointer-events : none;
	outline: none;
}